body {
    margin: 0;
}

img {
    width: 100%;
}

header {
    background-color: #124C7C;
}

h1 {
    margin: 0;
    color: whitesmoke;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

p, span, label {
    font-family: 'Open Sans Condensed', sans-serif;
}

input {
    margin-right: 15px;
}

#titel {
    width: 33%;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

#image-container {
    list-style: none;
    padding: 0;
    margin-top: 25px;
}

#image-container li {
    background-color: whitesmoke;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin: 25px 0;
}

.likes {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.likes > img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
